/* colors */
:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
}

/* Core style */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

.wrapper {
	overflow: hidden;
}

.navbar,
.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.btn {
    padding: 12px 18px;
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

.btn:hover {
    background: linear-gradient(90deg,  #80E0FF 0%,  #BEFFE8 100%);
}


/* header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 98% 100%;
    background-position: -16px 0px;
    padding: 24px 0;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

/* media query start */
@media (min-width:1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}