/* colors */
:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
}

/* Core style */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

.wrapper {
	overflow: hidden;
}

.navbar,
.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.btn {
    padding: 12px 18px;
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

.btn:hover {
    background: linear-gradient(90deg,  #80E0FF 0%,  #BEFFE8 100%);
}

.btn-two {
    width: 170px;
}

.main {
    margin-top: 156px;
}

.mt-6 {
    margin-top: 32px;
}

.mb-6 {
    margin-bottom: 32px;
}

/* header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: url(../images/header-bg.png), #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 98% 100%;
    background-position: -16px 0px;
    padding: 24px 0;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}



/* main  start */


/* news section */

.news-content-title .btn-group button {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}

.news .btn-group-vertical h2 {
    color: var(--blue, #456DBB);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

.news .news-content span {
    color: var(--grey, #686868);
    font-size: 10px;
    font-weight: 700;
}

.news .news-content h4{
    color: var(--blue, #456DBB);
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px;
}

/* modal */

.modal-header {
    border-bottom: none;
}

.modal-main {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.modal-title {
    color: var(--blue, #456DBB);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.ml-30 {
    margin-left: 30px;
}

.input {
    width: 100%;
    padding: 16px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 400;
}

.modal-main .parol {
    margin-bottom: 32px;
}

.modal-a {
    color: var(--blue, #456DBB);
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    margin: 32px auto;
}

.modal-main h5 {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}

.modal-label {
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

.modal-btn {
    width: 100%;
}

.modal-footer {
    border-top: none;
}

/* modal-2 */

.modal-main .register {
    display: flex;
    flex-direction: column;
}

.modal-two h6 {
    color: var(--Gray-1, #333);
    text-align: center;
    font-size: 14px;
    margin-top: 34px;
    margin-bottom: 32px;
}

.modal-btn_two {
    margin: 0px auto;
    width: 185px;
    padding: 12px 18px;
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

/* media query start */
@media (min-width:1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:991px) {
    .row {
        gap: 32px 0;
    }
}
