/* colors */
:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
}

/* Core style */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-decoration: none;
    line-height: 1.2;
}

textarea:focus,
select:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button {
    border: none;
    background: none;
}

input:focus {
    outline: none !important;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.wrapper {
    overflow: hidden;
}

.navbar,
.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.btn {
    padding: 12px 18px;
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

.blue-btn {
    border-radius: 5px;
    background: var(--blue, #456DBB);
    color: var(--white, #FFF);
    padding: 8px;
    font-size: 10px;
    font-weight: 700;
}

.btn:hover {
    background: linear-gradient(90deg, #80E0FF 0%, #BEFFE8 100%);
}

.btn-two {
    width: 170px;
}

.main {
    margin-top: 156px;
}

.mt-6 {
    margin-top: 32px;
}

.mb-6 {
    margin-bottom: 32px;
}

.mr-6 {
    margin-right: 32px;
}

.ml-6 {
    margin-left: 32px;
}


/* header */

.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 24px 0;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
    background: #fff;
    z-index: 999;
}

.header .header-bg {
    position: relative;
}

.header .header-bg .bg-one {
    position: absolute;
    z-index: -1;
    top: -47px;
    left: 55px;
}

.header .header-bg .bg-two {
    position: absolute;
    z-index: -1;
    top: -28px;
    left: -124px;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

.header .navbar-expand-lg .d-flex .nav-link {
    margin: 0;
    margin-right: 32px;
}


/* main  start */


/* news section */

.news-2 {
    padding-bottom: 136px;
}

.news-2 .news-title {
    color: var(--dark-grey, #333);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 34px;
}


.news-2 .news-modal_btn {
    width: 171px;
    display: flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.yes {
    margin-left: 16px;
    margin-top: 34px;
}

.no {
    margin-left: 16px;
    margin-top: 34px;
}


.news .col-5 h3 {
    color: var(--blue, #456DBB);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

.news .col-5 .date {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
}


.news .col-5 h4 {
    color: var(--dark-grey, #333);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.news .koylak {
    width: 70px;
    height: 120px;
}

.news .koylak .bg {
    border-radius: 5px;
    margin-top: 4px;
    text-align: center;
    background: #E4F0FF;
    position: relative;
}

.news .koylak .padding-1 {
    padding: 8px;
}

.news .padding-2 h4 {
    margin: 0;
    padding: 4px 3px;
    color: var(--blue, #456DBB);
    text-align: center;
    font-size: 8px;
    font-weight: 700;
}

.news .padding__2 {
    margin-left: 10px;
}

.news .koylak .lock-img {
    left: 40px;
    position: absolute;
}

.news .big-img {
    background: #F8F8FA;
    border-radius: 5px;
    border: 1px solid var(--light-grey, #D0D0D0);
    background: #F8F8FA;
}


.news-content-title .btn-group button {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}

.news-content-title .btn-group a {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}

.news .btn-group-vertical h2 {
    color: var(--blue, #456DBB);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

.date {
    color: var(--grey, #686868);
    font-size: 10px;
    font-weight: 700;
}

.news .news-content h4 {
    color: var(--blue, #456DBB);
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px;
}

.news .numbers {
    display: flex;
    justify-content: center;
    margin: 64px auto;
}

.news .numbers .color {
    color: #456DBB;
}


.news .numbers h5 {
    margin: 0px 28px;
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
}

/* modal */

.modal-header {
    border-bottom: none;
}

.modal-main {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.modal-title {
    color: var(--blue, #456DBB);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.ml-30 {
    margin-left: 30px;
}

.input {
    border-radius: 5px;
    border: 1px solid var(--light-grey, #D0D0D0);
    gap: 8px;
    width: 100%;
    padding: 16px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 400;
}

.modal-main .parol {
    margin-bottom: 32px;
}

.modal-main h5 {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}

.modal-label {
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

.modal-btn {
    width: 100%;
}

.modal-footer {
    border-top: none;
}

.modal-main .btn-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-decoration-line: underline;
}

.register-modal__dialog {
    max-width: 830px;
    width: 100%;
}

.password-modal__dialog {
    max-width: 430px;
    width: 100%;
}

/* modal-2 */

.modal-main .register {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.modal-two h6 {
    color: var(--Gray-1, #333);
    text-align: center;
    font-size: 14px;
    margin-top: 34px;
    margin-bottom: 32px;
}

.modal-btn_two {
    margin: 0px auto;
    width: 185px;
    padding: 12px 18px;
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

/* forget password */

.number {
    display: flex;
    width: 48px;
    height: 64px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.t-center {
    margin: 0 auto;
}



/* portal */

.portal .big-img-2 {
    margin-top: 8px;
}

.portal .portal-first_box {
    margin-bottom: 32px;
    padding: 24px;
    border-radius: 5px;
    background: var(--light-blue, #EBF2FF);
}

.portal .portal-first_box .portal-title {
    margin-top: 8px;
    margin-left: 24px;
}

.portal .portal-title h2 {
    margin-right: 20px;
    color: var(--blue, #456DBB);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.portal .portal-title p {
    color: var(--dark-grey);
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.portal .like-comentary-boxes {
    margin-top: 24px;
}

.portal .like-comentary-boxes .d-flex,
.portal .mundarija .d-flex {
    margin-right: 16px; 
}

.portal .like-comentary-boxes form {
    margin-left: 18px;
}

.portal .about-boxes {
    margin-top: 32px;
}

.portal .d-flex h5 {
    margin: 0px 5px;
}

.portal .about h6 {
    margin-bottom: 8px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
} 

.portal .about h5 {
    color: var(--dark-grey, #333);
    font-size: 14px;
    font-weight: 400;
}

/* portal-2 sevtion */

.portal .portal-second_box {
    margin-bottom: 116px;
}

.box-title {
    color: var(--blue, #456DBB);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.border-dashed {
    color: var(--blue, #456DBB);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border-bottom: 1px dashed #456DBB;
    width: 187px;
    overflow: hidden;
}

.bd-1 {
    width: 176px;
    margin-top: 24px;
}

.bd-2 {
    text-align: start;
    margin-bottom: 24px;
    width: 169px;
}

.bd-3 {
    width: 216px;
    margin-left: 320px;
    margin-top: 20px;
}

.portal .portal-second_box .mundarija {
    border-radius: 5px;
    background: var(--light-blue, #EBF2FF);
    padding: 16px;
    margin-bottom: 8px;
}

.portal .information {
    margin-bottom: 8px;
}

.portal .information h3 {
    margin-right: 8px;
    color: var(--grey, #686868);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.portal .information h4 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.portal .person-img {
    margin-right: 16px;
}

.portal .name h5 {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.portal .date {
    margin: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.portal .date h4 {
    color: var(--dark-grey, #333);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.portal .date h3 {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
}

.portal .comment-texts p {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

/* footer */

.footer {
    padding: 64px 135px;
    box-shadow: 0px 4px 30px 15px #D7E4FF;
}

.footer .row {
    margin: 0 30px;
}

.footer .row .b-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.footer h3 {
    color: var(--grey, #686868);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.footer h4 {
    color: var(--dark-grey, #333);
    font-size: 14px;
    font-weight: 400;
}

.footer .h4 {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
    margin-top: 180px;
}

.footer .h-four {
    color: var(--grey, #686868);
    font-size: 14px;
    font-weight: 400;
    margin-top: 75px;
}


.footer a {
    color: var(--blue, #456DBB);
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
}

.footer .img-box {
    display: flex;
    width: 270px;
    align-items: flex-end;
    margin-top: 35px;
    gap: 0px 24px;
}

/* media query start */
@media (min-width:1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:1400px) {
    .portal .d-flex h5 {
        margin: 0px 3px;
    }
}


@media (max-width:1200px) {
    .header form .btn {
        font-size: 10px;
        padding: 12px 6px;
    }
    .portal .d-flex h5 {
        font-size: 10px;
        margin: 0px 2px;
    }
}


@media (max-width:991px) {
    .header .header-bg .bg-one {
        top: -39px;
        left: 115px;
    }

    .header .header-bg .bg-two {
        top: -34px;
        left: -144px;
    }

    .news .numbers {
        display: none;
    }

    .row {
        gap: 32px 0;
    }

    .portal .big-img-2,
    .portal-texts {
        margin: 0 auto;
    }

    .portal .like-comentary-boxes {
        display: flex;
        justify-content: center;
    }

    .footer .row {
        margin-top: 64px;
    }

    .last-btn {
        margin-bottom: 100px;
    }

    .footer h3 {
        font-size: 12px;
    }

    .footer h4 {
        font-size: 12px;
    }

    .footer .h4 {
        font-size: 12px;
        margin-top: 55px;
    }

    .footer .h-four {
        font-size: 12px;
        margin-top: 17px;
    }


    .footer a {
        font-size: 12px;
    }

    .footer .img-box {
        width: 240px;
        margin-top: 15px;
        gap: 0px 24px;
    }
}

@media (max-width:767px) {
    .portal .like-comentary-boxes {
        margin-left: 70px;
        flex-direction: column;
    }
    .portal .like-comentary-boxes form {
        margin-top: 32px;
        margin-left: 60px;
    }

    .footer .row .b-bottom {
        padding-bottom: 10px;
    }
}

@media (max-width:497px) {
    .news-2 {
        text-align: center;
    }

    .news-2 .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-content-title .btn-group .a {
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    .portal .like-comentary-boxes {
        margin-left:26px;
        flex-direction: column;
    }
    .portal .like-comentary-boxes .d-flex {
        margin-right: 12px;
    }   
}

@media (max-width:320px) {
    .footer .footer-logo img {
        width: 123px;
        padding: 64px;
    }
    .footer .row .b-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .portal .like-comentary-boxes .d-flex {
        margin-right: 8px;
    }   
}
